$colorBg: rgb(0, 255, 76);


#header{
  height: 9.375rem;
  background: $colorBg;
  margin: .625rem;
}
#main{
  height: 9.375rem;
  background:  $colorBg;
  margin: .625rem;

}
#footer{
  height: 9.375rem;
  margin: .625rem;
  background:  $colorBg;
}