// Variaveis 
$colorBg: rgba(0, 199, 43, 0.836);
$colorFont: #00000065;
$colorRed: #ff0404;


$spancing-small: 1rem;
$spancing-mediun: 2.5rem;
$spancing-large: 5rem;

// importando os modulos 
// @import './header';
// @import './main';
// @import './footer';
@import './principal';

